@import "../../shared/style/util.less";
@import "../../shared/style/adjust.less";
@import "../../shared/style/debug.less";

html, body
{
  background: white;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@margin: 10px;

#container
{
  background: #eee;
  background-image: url("grid.svg");
  position: absolute;
  left: @margin;
  top: @margin;
  right: @margin;
  bottom: @margin;
}

.container, .target
{
  // .geomAnimation();
  .draggable();
  .resizable();
}

@c: #666;

.target 
{
  background: rgba(255,255,255,0.9);
  border: solid 1px @c;

  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;

  &.selected
  {
    border: dashed 2px @c;
  }
}

.target.dragging,
.target.resizing
{
}

// ----------------------------------------------------------------------------

#bg div
{
  .box();
  position: absolute;
  width: 40px;
  height: 40px;
  border: solid 5px @c;
}

