@import "../../shared/style/util.less";
@import "../../shared/style/adjust.less";
@import "../../shared/style/debug.less";

html, body
{
  background: white;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@margin: 10px;

#container
{
  background: #eee;
  background-image: url("grid.svg");
  position: absolute;
  left: @margin;
  top: @margin;
  right: @margin;
  bottom: @margin;
}

.container, .target
{
  .draggable();
  .resizable();
}

@c: #999;

.target 
{
  background: #eee;
  border: solid 1px @c;
}

.target.dragging,
.target.resizing
{
}

// ----------------------------------------------------------------------------

#bg div
{
  .box();
  position: absolute;
  width: 40px;
  height: 40px;
  background: @c;
  .radius(5px);
}

