.selected
{
  outline: dashed 3px rgba(0,100,255, 0.4);
}

.draggable
{
  cursor: move;
}

.dragging
{
  opacity: 0.8;
}

.draggable,
.resizable
{
  -webkit-transition: left 0.2s ease, top 0.2s ease, width 0.2s ease, height 0.2s ease;
}

.resizable ()
{
  &.resizable-left                   { cursor: w-resize;  }
  &.resizable-right                  { cursor: e-resize;  }
  &.resizable-top                    { cursor: n-resize;  }
  &.resizable-bottom                 { cursor: s-resize;  }
  &.resizable-top.resizable-left     { cursor: nw-resize; }
  &.resizable-top.resizable-right    { cursor: ne-resize; }
  &.resizable-bottom.resizable-left  { cursor: sw-resize; }
  &.resizable-bottom.resizable-right { cursor: se-resize; }
}

