#main
{
  position: relative;
  width: 24px * 10;
  height: 24px * 34;
  margin: 0 auto 0 auto;
  background: url("images/checker.svg"), white;

  line-height: 24px;
  font-family: Georgia;
  font-size: 14px;

  & > div
  {
    // padding: (24px * 2) 0;

    & > *
    {
      padding: 0;
      position: relative;
      max-width: 24px * 20;
      margin-bottom: 24px;
      -webkit-transition: opacity 0.1s ease;

    }

    h1, h2
    {
      margin-top: 0;
      line-height: 48px;
      font-family: Baskerville, Georgia;
      font-weight: normal;
    }

    p
    {
      text-align: justify;
    }

  }

  #navigation
  {
    left: 24px * 1;
    top: 24px * 2;
    width: 24px * 6;
    min-height: 24px * 12;
    position: absolute;
  }

  #content
  {
    left: 24px * 8;
    width: 24px * 20;
    position: relative;
  }

  #magic
  {
    left: 24px * 29;
    top: 24px * 2;
    width: 24px * 10;
    min-height: 24px * 12;
    position: absolute;
  }

}

body.adjusting #main
{
  background: url("images/checker.svg"), white;
  -webkit-box-shadow: 0 0 400px rgba(0,0,0, 0.1);

  h1, h2, p
  {
    background: white;
    .adjustable();
  }

}

