.content
{
  background: url("images/checker.svg"), white;
  -webkit-box-shadow: none;
  margin: 0 auto 0 auto;
  width: 24px * 26;
  line-height: 24px;
  font-size: 18px;
  position: relative;
  overflow: hidden;

  -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.2);

  *
  {
    padding: 0;
    position: relative;
  }

  h1
  {
    margin-top: 24px;
    line-height: 48px;
  }

  h1, h2, p
  {
    margin-bottom: 24px;
    background: rgba(255,255,0, 0.3);
    .resizable();
  }

}

