header
{
  background: white;
  background-image: url("images/stripes.svg");
  height: 24px * 2;
  .shadow(0.1);
}

.widget 
{
  background: url("images/stripes.svg"), -webkit-linear-gradient(top, #fa0, #f80);
  .box();
  .shadow();
}

body.adjusting .widget
{
  .adjustable();
}

