header
{
  background: white;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0, 0.1);
  height: 48px;
}

.container, .obstacle, .target, .good, .maybe,
{
  position: absolute;
  -webkit-box-sizing: border-box;
  .adjustable();
}

.container
{
  background-image: url("images/checker.svg");
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0, 0.1);
  overflow: hidden;
}

.obstacle
{
  background-image: url("images/stripes.svg"), -webkit-linear-gradient(top, #fb0, #f80);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.target 
{
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

