@import "../../shared/style/util.less";
@import "../../shared/style/adjust.less";
@import "../../shared/style/debug.less";

html, body
{
  background: white;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@margin: 10px;

#container
{
  background: #eee;
  background-image: url("../shared/images/stripes.svg");
  position: absolute;
  left: @margin;
  top: @margin;
  right: @margin;
  bottom: @margin;
}

// ----------------------------------------------------------------------------

#bg > div,
#fg > div
{
  position: absolute;

  .box();
  .draggable();
  .resizable();
}

@c: #888;

#bg > div
{
  background: black;
  .shadow(1.0, 40px);
}

#fg > div
{
  background: #fff url("../shared/images/stripes.svg") fixed;

  left: 0px;
  top: 0px;
  width: 200px;
  height: 200px;
}

